<mat-toolbar color="primary" style="background-color: #1877f2; color: #fff">
  <span style="font-size: 1.5rem; font-weight: bold">MoviesDB</span>
  <div class="nav-container">
    <a
      class="nav-items"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      >Home</a
      >
      <a
  class="nav-items"
  routerLinkActive="active-link"
  [routerLinkActiveOptions]="{ exact: true }"
  [routerLink]="getCollectionsLink(currentUser$ | async)"
>
  Collections
</a>
      </div>
      <span style="margin-left: auto; display: flex; gap: 8px">
        @if (!(isLoggedIn$ | async)) {
          <button mat-button routerLink="/login">
            Login
          </button>
        }
        @if (!(isLoggedIn$ | async)) {
          <button mat-button routerLink="/register">
            Sign Up
          </button>
        }
        @if (isLoggedIn$ | async) {
          <button mat-button (click)="logout()">
            Logout
          </button>
        }
      </span>
    </mat-toolbar>
