.search-form{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    padding:0.4cm 0 0.4cm 0;
    gap:0.1cm;
}
.search-textbox{
    height:1cm;
    border-radius: 0.1cm;
    border-color:#e7e7e7;
    padding-left: 0.2cm;
}
.search-button{
    height:1.1cm;
    width:2cm;
    border-radius: 0.1cm;
}
.search-movie-poster{
    height:3cm;
    min-height: 3cm;
    margin-top:6px;
}
.movies-search-table{
    min-width: 0;
    width:90%;
    background-color: #e7e7e7;
    border-radius: 0.2cm;
    overflow:hidden;
}
.movie-table-container{
    width: 100%;
    display: grid;
    place-items: center;
    min-height: 70vh;
}

.movie-row {
    background-color: #e7e7e7;
    cursor: pointer;
}

.movie-row:hover {
    background-color: #d7d7d7;
}

.movie-row:active {
    background-color: #e7e7e7;
}

.add-icon{
    width: 1cm;
    height: 1cm;
    fill: grey;
}
.add-icon:hover {
    fill: rgb(65, 65, 65);
}

.add-icon:active {
    fill: rgb(34, 33, 33);
}